<article class="article" id="change_email">
      
  <header class="header">
    <h1>Change e-mail</h1>

    <p>
      Do you want to change the email you receive alerts to? No problemo!
    </p>
  </header>
  
  <div class="body">
    <ol>
      <li>
        <p>
          Go to Account &amp; Settings in the main menu.
        </p>
      </li>
      <li class="highlight">
        <%= image_tag "help/change_email/enter_email_address.png" %>
        <p>
          Fill in the email you would like to receive your alerts to.
        </p>
      </li>
      <li>
        <p>
          You will then receive a confirmation e-mail to this address. Click the link in it.
        </p>
      </li>
      <li>
        <p>
          Boom! You're good to go.
        </p>
      </li>
    </ol>
  </div>
  
</article>
