<article class="article" id="deleting_an_alert">
      
  <header class="header">
      <h1>Deleting an alert</h1>
  </header>
  
  <div class="body">
    <ol>
      <li class="highlight">
        <%= image_tag "help/deleting_an_alert/click_trashcan.jpg" %>
        <p>
          Deleting an alert is easy as pie! Just click the trashcan button on the alert you want to delete.
        </p>
      </li>
    </ol>
  </div>
  
</article>
