<div class="help_article" id="deleting_an_alert">
      
  <div class="help_header">
      <h1>Deleting an alert</h1>
      <p>
        Aenean eu leo quam. Pellentesque orntare sem lacinia quam venenatis vestibulum.
        Nullam quis risus eget urna mollis ornare vel eu leo.
      </p>
  </div>
  
  <div class="help_content">
    <ol>
      <li class="highlight">
        <%= image_tag "help_image_form.jpg" %>
        <p>blabla bla bla bla bla bla bla bla bla bla </p>
      </li>
      <li>
        <p>
          blabla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla bla 
          blabla bla bla bla bla bla bla bla bla bla
        </p>
      </li>
      <li>
        <p>blabla bla bla bla bla bla bla bla bla bla </p>
      </li>
      <li>
        <p>blabla bla bla bla bla bla bla bla bla bla </p>
      </li>
      <li>
        <p>blabla bla bla bla bla bla bla bla bla bla </p>
      </li>
    </ol>
  </div>
  
</div>