<article class="article" id="how_to_use_a_paper_towel">
      
  <header class="header">
    <h1>How to use a paper towel</h1>
  </header>
  
  <div class="body">
    <iframe src="http://embed.ted.com/talks/joe_smith_how_to_use_a_paper_towel.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  
</article>
