<article class="article" id="how_to_be_happy">
      
  <header class="header">
    <h1>How to be happy</h1>
  </header>
  
  <div class="body">
    <iframe src="http://embed.ted.com/playlists/4/what_makes_us_happy.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  
</article>
