<article class="article" id="how_to_tie_your_shoes">
      
  <header class="header">
    <h1>How to tie your shoes</h1>
  </header>
  
  <div class="body">
    <iframe src="http://embed.ted.com/talks/terry_moore_how_to_tie_your_shoes.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  
</article>
