<article class="article" id="scheduling_an_alert">

  <header class="header">
    <h1>Scheduling an alert</h1>
    <p>
      Before you start scheduling your alerts, you should head over to "Account &amp; Settings" and set your timezone. It's a
      good thing to be in the same timezone as your alerts.
    </p>
  </header>
  
  <div class="body">
    <ol>
      <li class="highlight">
        <%= image_tag "help/scheduling_an_alert/enter_edit_mode.jpg" %>
        <p>
          Click on the pencil button on the alert you wish to schedule.
        </p>
      </li>
      <li class="highlight">
        <%= image_tag "help/scheduling_an_alert/select_preset.png" %>
        <p>
          Choose if you want your alerts monthly, weekly, daily or hourly.
        </p>
      </li>
      <li class="highlight">
        <%= image_tag "help/scheduling_an_alert/select_frequency.png" %>
        <p>
          Pick the day and time you want to receive your alert.
        </p>
      </li>
      <li>
        <p>
          Click the check mark to save or the cross to discard your changes.
        </p>
      </li>
    </ol>
  </div>
  
</article>
