<section id="settings">
  <ul class="menu">
    <li><h2>Settings</h2></li>
    <li><a href="#general">General</a></li>
    <li><a href="#real-time-alerts">Real-time alerts</a></li>
    <li><a href="#import-alerts">Import alerts</a></li>
  </ul>

  <%= render "users/edit/general" %>
  <%= render "users/edit/real_time_alerts" %>
  <%= render "users/edit/import_alerts" %>
</section>
