<footer id="footer">
  <div class="repository">
    <a class="logo" href="http://hyper.no" target="_blank"><%= image_tag "hyper_logo.png" %></a>

    <p class="disclaimer">
      Devised and crafted by <a href="http://hyper.no">Hyper</a> in Oslo, Norway.<br />
      If you have any questions, contact a viking at <a href="mailto:support@hyperalerts.no">support@hyperalerts.no</a>.
    </p>

    <p class="privacy-policy">
      <a href="http://privacy-policies.hyper.no/applications/hyper-alerts" target="_blank">Privacy policy</a>
    </p>

    <%= image_tag "like_jar.png", class: "jar first" %>
    <%= image_tag "like_jar.png", class: "jar second" %>
  </div>
</footer>
