<li class="filter_link"><h2>Filter</h2></li>
<li class="filter_link"><a id="all" href="#" class="active">All</a></li>
<li class="filter_link"><a id="facebook" href="#">Facebook</a></li>
<li class="filter_link"><a id="twitter" href="#">Twitter</a></li>