<nav class="dropdown service">
  <ul class="items">
    <li class="item facebook active" data-service="facebook">Facebook</li>
    <li class="item twitter" data-service="twitter">Twitter</li>
  </ul>
</nav>
<div class="service_container">
</div>
