<li><h2>Sort</h2></li>
<li class="sort_link"><a id="alphabetical" href="#">Alphabetical</a></li>
<li class="sort_link"><a id="date_created" href="#" class="active">Date created</a></li>
<li class="sort_link"><a id="date_modified" href="#">Date modified</a></li>
<li class="sort_link"><a id="type" href="#">Type</a></li>