<nav class="dropdown type">
  <ul class="items">
    <li class="item timeline active" data-type="timeline">User feed</li>
    <li class="item search" data-type="search">Search</li>
  </ul>
</nav>
<div class="type_container">
</div>
